button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__text-main;
	border-radius: 3px;
	background: $color__background-button;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);

	&:hover {
		border-color: $color__border-button-hover;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
		box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
	}

	&.wpcf7-submit {
		min-width: 120px;
		text-align: center;
		line-height: 26px;
		letter-spacing: 1px;
		font-size: 16px;
		font-family: $font__bold;
		text-transform: uppercase;
		background: none;
		border-radius: 0;
		color: $color__secondary;
		border: 2px solid $color__secondary;
		outline: none;
		-webkit-box-shadow: inset 0 0 0 0 $color__secondary;
		box-shadow: inset 0 0 0 0 $color__secondary;
		-webkit-transition: all ease 0.8s;
		-moz-transition: all ease 0.8s;
		transition: all ease 0.8s;

		&:hover {
			box-shadow: inset 0 100px 0 0 $color__secondary;
    		color: #FFF;
		}
	}
}

div.wpcf7-response-output {
	margin: 0;
}

span.wpcf7-not-valid-tip {
	color: $color__secondary;
}