input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $color__text-input;
	border: 2px solid $color__field-border;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
  	-webkit-appearance: none;
    border-radius: 0;
    max-width: 100%;

	&:focus {
		outline: none;
		-webkit-box-shadow: none;
  		box-shadow: none;
		color: $color__text-input-focus;
		border: 2px solid $color__secondary;
		border-left: 15px solid $color__secondary;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}