/*
Theme Name: Juska Interiors
Author: Bream Collective
Description: Description
Version: 1.0.0
Text Domain: juska-interiors
*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/*--------------------------------------------------------------
# Layout - CSS Grid
--------------------------------------------------------------*/
.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto; }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-pull-11 {
    right: 91.66667%; }
  .col-sm-pull-10 {
    right: 83.33333%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-8 {
    right: 66.66667%; }
  .col-sm-pull-7 {
    right: 58.33333%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-5 {
    right: 41.66667%; }
  .col-sm-pull-4 {
    right: 33.33333%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-2 {
    right: 16.66667%; }
  .col-sm-pull-1 {
    right: 8.33333%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-push-11 {
    left: 91.66667%; }
  .col-sm-push-10 {
    left: 83.33333%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-8 {
    left: 66.66667%; }
  .col-sm-push-7 {
    left: 58.33333%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-5 {
    left: 41.66667%; }
  .col-sm-push-4 {
    left: 33.33333%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-2 {
    left: 16.66667%; }
  .col-sm-push-1 {
    left: 8.33333%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-offset-12 {
    margin-left: 100%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-offset-0 {
    margin-left: 0%; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-1 {
    width: 8.33333%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-pull-11 {
    right: 91.66667%; }
  .col-md-pull-10 {
    right: 83.33333%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-8 {
    right: 66.66667%; }
  .col-md-pull-7 {
    right: 58.33333%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-5 {
    right: 41.66667%; }
  .col-md-pull-4 {
    right: 33.33333%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-2 {
    right: 16.66667%; }
  .col-md-pull-1 {
    right: 8.33333%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-push-11 {
    left: 91.66667%; }
  .col-md-push-10 {
    left: 83.33333%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-8 {
    left: 66.66667%; }
  .col-md-push-7 {
    left: 58.33333%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-5 {
    left: 41.66667%; }
  .col-md-push-4 {
    left: 33.33333%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-2 {
    left: 16.66667%; }
  .col-md-push-1 {
    left: 8.33333%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-offset-12 {
    margin-left: 100%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-0 {
    margin-left: 0%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-pull-11 {
    right: 91.66667%; }
  .col-lg-pull-10 {
    right: 83.33333%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-8 {
    right: 66.66667%; }
  .col-lg-pull-7 {
    right: 58.33333%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-5 {
    right: 41.66667%; }
  .col-lg-pull-4 {
    right: 33.33333%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-2 {
    right: 16.66667%; }
  .col-lg-pull-1 {
    right: 8.33333%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-push-11 {
    left: 91.66667%; }
  .col-lg-push-10 {
    left: 83.33333%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-8 {
    left: 66.66667%; }
  .col-lg-push-7 {
    left: 58.33333%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-5 {
    left: 41.66667%; }
  .col-lg-push-4 {
    left: 33.33333%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-2 {
    left: 16.66667%; }
  .col-lg-push-1 {
    left: 8.33333%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-offset-12 {
    margin-left: 100%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-0 {
    margin-left: 0%; } }

.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
  content: " ";
  display: table; }

.clearfix:after, .container:after, .container-fluid:after, .row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body, button, input, select, textarea {
  color: #34343c;
  font-family: MuseoSans-100, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: 0px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04); }

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: MuseoSans-700, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 35px; }

h1 {
  font-size: 24px;
  margin: 20px 0; }

h1.entry-title {
  margin-top: 0px;
  margin-bottom: 8px;
  text-align: center; }

h2 {
  font-size: 22px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

p {
  margin-bottom: 1.5em; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Author Bio Widget
--------------------------------------------------------------*/
.widget.widget_author_bio {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.widget.widget_author_bio .widget-text {
  display: inline-block; }

.author-bio-body {
  border: 2px solid #dc7800;
  text-align: center;
  font-size: 15px;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

img.author-image {
  margin-bottom: 10px; }

h5.author-bio-title {
  text-align: center;
  color: #dc7800;
  margin: 10px auto; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
  overflow-x: hidden; }

blockquote, q {
  quotes: "" ""; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul, li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button, input[type="button"], input[type="reset"], input[type="submit"] {
  border: 1px solid;
  border-color: #34343c;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }
  button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02); }
  button:active, button:focus, input[type="button"]:active, input[type="button"]:focus, input[type="reset"]:active, input[type="reset"]:focus, input[type="submit"]:active, input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }
  button.wpcf7-submit, input[type="button"].wpcf7-submit, input[type="reset"].wpcf7-submit, input[type="submit"].wpcf7-submit {
    min-width: 120px;
    text-align: center;
    line-height: 26px;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: MuseoSans-700, sans-serif;
    text-transform: uppercase;
    background: none;
    border-radius: 0;
    color: #dc7800;
    border: 2px solid #dc7800;
    outline: none;
    -webkit-box-shadow: inset 0 0 0 0 #dc7800;
    box-shadow: inset 0 0 0 0 #dc7800;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s; }
    button.wpcf7-submit:hover, input[type="button"].wpcf7-submit:hover, input[type="reset"].wpcf7-submit:hover, input[type="submit"].wpcf7-submit:hover {
      box-shadow: inset 0 100px 0 0 #dc7800;
      color: #FFF; }

div.wpcf7-response-output {
  margin: 0; }

span.wpcf7-not-valid-tip {
  color: #dc7800; }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea {
  color: #34343c;
  border: 2px solid #e5e5e5;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-appearance: none;
  border-radius: 0;
  max-width: 100%; }
  input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #34343c;
    border: 2px solid #dc7800;
    border-left: 15px solid #dc7800; }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"] {
  padding: 3px; }

textarea {
  padding-left: 3px;
  width: 100%; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #34343c;
  text-decoration: none; }
  a:visited {
    color: #34343c; }
  a:hover, a:focus, a:active {
    color: #34343c; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  text-align: right; }
  .main-navigation ul ul.sub-menu {
    margin-top: 25px; }
  .main-navigation ul ul li {
    width: 100%; }
  .main-navigation ul ul a {
    width: 100%; }
  .main-navigation ul li.current-menu-parent > a, .main-navigation ul li.current-menu-item > a {
    color: #dc7800; }
.main-navigation li {
  float: left;
  position: relative; }
.main-navigation a {
  display: block;
  text-decoration: none; }

.main-navigation ul li.menu-item-has-children > a {
  font-family: MuseoSans-700, sans-serif;
  text-transform: uppercase; }

ul#primary-menu li {
  text-align: center !important; }

/* Hamburger menu */
.menu-toggle {
  display: none;
  position: fixed;
  z-index: 101;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: #dc7800;
  padding: 4px 4px;
  width: 38px;
  height: 38px; }
  .menu-toggle .menu-button {
    border-radius: 0;
    border: 0;
    width: 30px;
    height: 30px;
    background: none;
    box-shadow: none !important;
    position: relative; }
    .menu-toggle .menu-button:hover {
      border: none !important;
      border-color: none !important; }
    .menu-toggle .menu-button .lines {
      display: inline-block;
      width: 30px;
      height: 3.75px;
      border-radius: 0;
      border: 0;
      background: #fff;
      position: absolute;
      left: 0;
      top: 13.125px;
      transition: background .3s 0s ease;
      width: 30px; }
      .menu-toggle .menu-button .lines:before, .menu-toggle .menu-button .lines:after {
        display: inline-block;
        width: 30px;
        height: 3.75px;
        border-radius: 0;
        border: 0;
        background: #fff;
        position: absolute;
        left: 0;
        content: '';
        transition: top .3s ease, transform .3s 0s ease; }
      .menu-toggle .menu-button .lines:before {
        top: 8.82353px; }
      .menu-toggle .menu-button .lines:after {
        top: -8.82353px; }

/* End Hamburger menu */
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block; }
  .main-navigation {
    display: none; }
    .main-navigation.toggled {
      top: 0; }
    .main-navigation ul {
      list-style: none;
      margin: 0;
      padding-left: 0;
      text-align: right; }
      .main-navigation ul li.menu-item-has-children {
        margin-top: 30px; }
      .main-navigation ul ul.sub-menu {
        margin-top: 0; }
      .main-navigation ul ul li {
        width: 100%; }
      .main-navigation ul ul a {
        width: 100%;
        -webkit-transition: background-color 0.1s linear;
        -moz-transition: background-color 0.1s linear;
        -o-transition: background-color 0.1s linear;
        -ms-transition: background-color 0.1s linear;
        transition: background-color 0.1s linear; }
      .main-navigation ul ul a:hover {
        background-color: #2c2c33; }
      .main-navigation ul li.current-menu-parent > a, .main-navigation ul li.current-menu-item > a {
        color: #dc7800; }
    .main-navigation li {
      float: left;
      position: relative; }
    .main-navigation a {
      display: block;
      text-decoration: none;
      color: #fff;
      font-size: 20px;
      height: 50px;
      line-height: 50px; }
  .main-navigation ul li.menu-item-has-children > a {
    font-family: MuseoSans-700, sans-serif;
    text-transform: uppercase; } }

.site-main .comment-navigation, .site-main .posts-navigation, .site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }
.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous {
  float: left;
  width: 50%; }
.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/*--------------------------------------------------------------
## Sidr
--------------------------------------------------------------*/
.sidr {
  /* Default Settings */
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 100;
  width: 260px;
  overflow-x: none;
  overflow-y: auto;
  background: rgba(52, 52, 60, 0.97); }
  .sidr .sidr-inner {
    padding: 0 0 30px;
    padding-top: 30px;
    padding-bottom: 30px; }
    .sidr .sidr-inner > p {
      margin-left: 15px;
      margin-right: 15px; }
  .sidr a {
    line-height: 50px;
    font-size: 20px;
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    -ms-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear; }
  .sidr.right {
    left: auto;
    right: -260px; }
  .sidr.left {
    left: -260px;
    right: auto; }
  .sidr h1, .sidr h2, .sidr h3, .sidr h4, .sidr h5, .sidr h6 {
    font-size: 11px;
    font-weight: normal;
    padding: 0 15px;
    margin: 0 0 5px;
    color: #FFF;
    line-height: 24px; }
  .sidr p {
    font-size: 13px;
    margin: 0 0 12px; }
    .sidr p a {
      color: rgba(255, 255, 255, 0.9); }
  .sidr > p {
    margin-left: 15px;
    margin-right: 15px; }
  .sidr ul {
    display: block;
    margin: 0 0 15px;
    padding: 0;
    list-style: none; }
    .sidr ul ul a:hover {
      background-color: #2c2c33; }
    .sidr ul li {
      display: block;
      margin: 0;
      line-height: 50px; }
      .sidr ul li.sidr-class-current-menu-parent > a, .sidr ul li.sidr-class-current-menu-item > a {
        color: #dc7800; }
      .sidr ul li.sidr-class-menu-item-has-children > a {
        font-family: MuseoSans-700, sans-serif;
        text-transform: uppercase; }
      .sidr ul li:hover, .sidr ul li.active, .sidr ul li.sidr-class-active {
        border-top: none;
        line-height: 50px; }
      .sidr ul li a, .sidr ul li span {
        padding: 0 25px;
        display: block;
        text-decoration: none;
        color: #FFF; }
      .sidr ul li ul {
        border-bottom: none;
        margin: 0; }
        .sidr ul li ul li {
          line-height: 40px;
          font-size: 13px; }
          .sidr ul li ul li:last-child {
            border-bottom: none; }
          .sidr ul li ul li:hover, .sidr ul li ul li.active, .sidr ul li ul li.sidr-class-active {
            border-top: none;
            line-height: 41px; }
          .sidr ul li ul li a, .sidr ul li ul li span {
            color: rgba(255, 255, 255, 0.8);
            padding-left: 30px; }
  .sidr form {
    margin: 0 15px; }
  .sidr label {
    font-size: 13px; }
  .sidr input[type="text"], .sidr input[type="password"], .sidr input[type="date"], .sidr input[type="datetime"], .sidr input[type="email"], .sidr input[type="number"], .sidr input[type="search"], .sidr input[type="tel"], .sidr input[type="time"], .sidr input[type="url"], .sidr textarea, .sidr select {
    width: 100%;
    font-size: 13px;
    padding: 5px;
    margin: 0 0 10px;
    border: none;
    background: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.6);
    display: block;
    clear: both; }
  .sidr input[type=checkbox] {
    width: auto;
    display: inline;
    clear: none; }
  .sidr input[type=button], .sidr input[type=submit] {
    color: rgba(52, 52, 60, 0.97);
    background: #FFF; }
    .sidr input[type=button]:hover, .sidr input[type=submit]:hover {
      background: rgba(255, 255, 255, 0.9); }

/*--------------------------------------------------------------
## Hamburger Icon
--------------------------------------------------------------*/
/* -----------------------------------------------------------------------------
  HAMBURGER ICONS COMPONENT
----------------------------------------------------------------------------- */
/**
 * Toggle Switch Globals
 *
 * All switches should take on the class `c-hamburger` as well as their
 * variant that will give them unique properties. This class is an overview
 * class that acts as a reset for all versions of the icon.
 */
.c-hamburger {
  display: none;
  position: fixed;
  z-index: 120;
  top: 10px;
  right: 10px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .c-hamburger.is-active {
    transform: translateX(-260px);
    -webkit-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -o-transform: translateX(-260px); }

.c-hamburger:focus {
  outline: none; }

.c-hamburger span {
  display: block;
  position: absolute;
  top: 18.5px;
  left: 4px;
  right: 4px;
  height: 3px;
  background: white; }

.c-hamburger span::before, .c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: ""; }

.c-hamburger span::before {
  top: -10px; }

.c-hamburger span::after {
  bottom: -10px; }

/**
 * Style 2
 *
 * Hamburger to "x" (htx). Takes on a hamburger shape, bars slide
 * down to center and transform into an "x".
 */
.c-hamburger--htx {
  background-color: #dc7800; }

button.c-hamburger:hover {
  border-color: none;
  box-shadow: none; }

.c-hamburger--htx span {
  transition: background 0s 0.3s; }

.c-hamburger--htx span::before, .c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s; }

.c-hamburger--htx span::before {
  transition-property: top, transform; }

.c-hamburger--htx span::after {
  transition-property: bottom, transform; }

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: #c36a00; }

.c-hamburger--htx.is-active span {
  background: none; }

.c-hamburger--htx.is-active span::before {
  top: 0;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.c-hamburger--htx.is-active span::before, .c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s; }

@media screen and (max-width: 768px) {
  .c-hamburger {
    display: block; } }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #34343c;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after {
  content: "";
  display: table; }

.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */ }
  .widget select {
    max-width: 100%; }

/* Search widget. */
.widget_search .search-submit {
  display: none; }

/* Sidebar 1 */
/* Author Bio */
img.author-photo {
  margin-top: 20px; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.container.header {
  border-bottom: 2px solid #dc7800;
  padding-bottom: 40px;
  padding-top: 40px; }

/*--------------------------------------------------------------
## Header - Logo
--------------------------------------------------------------*/
@media (max-width: 1000px) {
  .site-branding {
    margin-bottom: 50px; } }

/*--------------------------------------------------------------
## Content
--------------------------------------------------------------*/
#content {
  padding-top: 80px;
  width: 100%; }

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
article.page {
  text-align: left; }
  article.page.hentry {
    text-align: left; }

.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em;
  text-align: center;
  margin-bottom: 100px; }

.byline, .updated:not(.published) {
  display: none; }

.single .byline, .group-blog .byline {
  display: inline; }

.page-content, .entry-content, .entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

.posted-on a {
  font-size: 18px;
  font-family: MuseoSans-100, sans-serif;
  font-style: italic;
  color: #dc7800; }

.tiled-gallery .gallery-row {
  margin-right: 0px;
  padding-right: 0px; }

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title, .archive .format-aside .entry-title {
  display: none; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.container.footer {
  border-top: 2px solid #dc7800;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px; }

footer.entry-footer > span {
  display: block; }

footer.entry-footer span.cat-links a {
  color: #dc7800; }

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, .infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed, iframe, object {
  max-width: 100%; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }
