$h1_size: 24px;
$h-diff: 2px;
$h2_size: substract($h1_size, $h-diff);
$h3_size: substract($h2_size, $h-diff);
$h4_size: substract($h3_size, $h-diff);
$h5_size: substract($h4_size, $h-diff);
$h6_size: substract($h5_size, $h-diff);

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__bold;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: $font__letter-spacing-heading;
	line-height: $font__line-height-heading;
}

h1 {
	font-size: $h1_size;
	margin: 20px 0;
}

h1.entry-title {
	margin-top: 0px;
	margin-bottom: 8px;
	text-align: center;
}

h2 {
	font-size: $h2_size;
}

h3 {
	font-size: $h3_size;
}

h4 {
	font-size: $h4_size;
}

h5 {
	font-size: $h5_size;
}

h6 {
	font-size: $h6_size;
}