.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

/* Sidebar 1 */

#secondary {

}

/* Author Bio */

img.author-photo {
	margin-top: 20px;
}