.container.footer {
	border-top: 2px solid $color__secondary;
	padding-bottom: 30px;
	padding-top: 30px;
	padding-left: 15px;
  	padding-right: 15px;
  	
}

footer.entry-footer > span {
	display: block;
}

footer.entry-footer span.cat-links a {
	color: $color__secondary;
}