.widget.widget_author_bio {
	display: inline-block;
	@include box-sizing();
}

.widget.widget_author_bio .widget-text {
	display: inline-block;
}

.author-bio-body {
	border: 2px solid $color__secondary;
	text-align: center;
	font-size: 15px;
	padding: 10px 15px;
	@include box-sizing();
}

img.author-image {
	margin-bottom: 10px;
}

h5.author-bio-title {
	text-align: center;
	color: $color__secondary;
	margin: 10px auto;
}