@import url("//hello.myfonts.net/count/2f12b3");

@font-face {font-family: 'MuseoSans-700';src: url('webfonts/2F12B3_0_0.eot');src: url('2F12B3_0_0.eot?#iefix') format('embedded-opentype'),url('2F12B3_0_0.woff2') format('woff2'),url('2F12B3_0_0.woff') format('woff'),url('2F12B3_0_0.ttf') format('truetype');}

@font-face {font-family: 'MuseoSans-100';src: url('2F12B3_1_0.eot');src: url('2F12B3_1_0.eot?#iefix') format('embedded-opentype'),url('2F12B3_1_0.woff2') format('woff2'),url('2F12B3_1_0.woff') format('woff'),url('2F12B3_1_0.ttf') format('truetype');}
