.container.header {
	border-bottom: 2px solid $color__secondary;
	padding-bottom: 40px;
	padding-top: 40px;
}

/*--------------------------------------------------------------
## Header - Logo
--------------------------------------------------------------*/
@import "logo/logo";