$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
//$color__secondary: rgb(204,123,41);
$color__secondary: rgb(220,120,0);

$color__text-screen: rgb(52,52,60);
$color__text-input: rgb(52,52,60);
$color__text-input-focus: rgb(52,52,60);
$color__link: rgb(52,52,60);
$color__link-visited: rgb(52,52,60);
$color__link-hover: rgb(52,52,60);
$color__dark-hover-bg: rgb(44,44,51);
$color__text-main: rgb(52,52,60);
$color__field-border: #e5e5e5;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
