$font__main: MuseoSans-100, sans-serif;
$font__bold: MuseoSans-700, sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-heading: 35px;
$font__line-height-body: 26px;
$font__line-height-pre: 1.6;
$font__letter-spacing-heading: 2px;
$font__letter-spacing-body: 0px;

$button-width: 30px;
$button-height: 30px;
$button-line-height : $button-height/8;
$button-line-width : $button-width;
$button-line-space : $button-width/3.4;
$toggle-padding-v : 4px;
$toggle-padding-h : 4px;
