.main-navigation {

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		text-align: right;

		ul {

			&.sub-menu {
				margin-top: 25px;
			}

			ul {
			}

			li {
				&:hover > ul {
				}

				width: 100%;
			}

			a {
				width: 100%;
			}

			:hover > a {
			}

			a:hover {
			}
		}


		li:hover > ul {
		}

		li {
			&.current-menu-parent, &.current-menu-item {
				> a {
					color: $color__secondary;
				}
			}
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

.main-navigation ul li.menu-item-has-children > a {
	font-family: $font__bold;
	text-transform: uppercase;
}


ul#primary-menu li {
	text-align: center !important;
}

/* Hamburger menu */


.menu-toggle {
	display: none;
	position: fixed;
	z-index: 101;
	top: 10px;
	right: 10px;
	cursor: pointer;
	background: $color__secondary;
	padding: $toggle-padding-v $toggle-padding-h;
	width: $button-width + 2 * $toggle-padding-h;
	height: $button-height + 2 * $toggle-padding-v;

	.menu-button {

		border-radius: 0;
		border: 0;
		width: $button-width;
		height: $button-height; 
		background: none;
		box-shadow: none !important;
		position: relative;

		&:hover {
			border: none !important;
			border-color: none !important;
		}

		.lines {
			@include line;
			position: absolute;
			left: 0;
			top: $button-height / 2 - $button-line-height / 2;
			transition: background .3s 0s ease;
			width: $button-width;

			&:before, &:after {
				@include line;
				position: absolute;
	      		left: 0;
	    		content: '';
	    		transition: top .3s ease, transform .3s .0s ease;
			}

			&:before {
				top: $button-line-space;
			}

	  		&:after {
	  			top: -$button-line-space;
	  		}

	  	}
	}
}
/* End Hamburger menu */

@media screen and (max-width: 768px) {


	.menu-toggle {
		display: block;
	}

	.main-navigation {

		display: none;


		&.toggled {
			top: 0;
		}

		ul {
			list-style: none;
			margin: 0;
			padding-left: 0;
			text-align: right;

			li.menu-item-has-children {
				margin-top: 30px;
			}

			ul {

				&.sub-menu {
					margin-top: 0;
				}

				ul {
				}

				li {
					&:hover > ul {
					}

					width: 100%;
					// border-bottom: 1px solid $color__background-body;
				}

				a {
					width: 100%;
					-webkit-transition: background-color 0.1s linear;
					-moz-transition: background-color 0.1s linear;
					-o-transition: background-color 0.1s linear;
					-ms-transition: background-color 0.1s linear;
					transition: background-color 0.1s linear;
				}

				:hover > a {
				}

				a:hover {
					background-color: $color__dark-hover-bg;
				}
			}


			li:hover > ul {
			}

			li {
				&.current-menu-parent, &.current-menu-item {
					> a {
						color: $color__secondary;
					}
				}
			}
		}

		li {
			float: left;
			position: relative;

			&:hover > a {
			}
		}

		a {
			display: block;
			text-decoration: none;
			color: $color__background-body;
			font-size: 20px;
			height: 50px;
			line-height: 50px;
		}

		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a {
		}
	}

	.main-navigation ul li.menu-item-has-children > a {
		font-family: $font__bold;
		text-transform: uppercase;
	}

} // End @media screen and (max-width: 768px)

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}