// Fonts
$sidr-font-size: 15px;

// Colors
$sidr-background : rgba( $color__text-screen, .97 );
$sidr-text-color: #FFF;
$sidr-width: 260px;

.sidr {
    /* Default Settings */
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 100;
    width: $sidr-width;
    overflow-x: none;
    overflow-y: auto;

    .sidr-inner {
        padding: 0 0 30px;
        padding-top: 30px;
    	padding-bottom: 30px;

        > p {
            margin-left: 15px;
            margin-right: 15px;
        }
    }

    a {
    	line-height: 50px;
    	font-size: 20px;
		-webkit-transition: background-color 0.1s linear;
		-moz-transition: background-color 0.1s linear;
		-o-transition: background-color 0.1s linear;
		-ms-transition: background-color 0.1s linear;
		transition: background-color 0.1s linear;
    }

    &.right {
        left: auto;
        right: -$sidr-width;
    }

    &.left {
        left: -$sidr-width;
        right: auto;
    }

    background: $sidr-background;

    h1, h2, h3, h4, h5, h6 {
        font-size: $sidr-font-size - 4;
        font-weight: normal;
        padding: 0 15px;
        margin: 0 0 5px;
        color: $sidr-text-color;
        line-height: 24px;
        // @include single-box-shadow(rgba(#000, .2), 0, 5px, 5px, 3px);
    }

    p {
        font-size: $sidr-font-size - 2;
        margin: 0 0 12px;
        a {
            color: rgba($sidr-text-color, .9);
        }
    }

    > p {
        margin-left: 15px;
        margin-right: 15px;
    }

    ul {
        display: block;
        margin: 0 0 15px;
        padding: 0;
        list-style: none;

        &.sidr-class-sub-menu {
        	//margin-top: 25px;
        }

        ul {
        	a:hover {
				background-color: $color__dark-hover-bg;
        	}
        }

        li {
            display: block;
            margin: 0;
            line-height: 50px;

            &.sidr-class-current-menu-parent, &.sidr-class-current-menu-item {
    			> a {
					color: $color__secondary;
				}
        	}

        	&.sidr-class-menu-item-has-children {
        		> a {
        			font-family: $font__bold;
					text-transform: uppercase;
        		}
        	}

            &:hover,
            &.active,
            &.sidr-class-active {
                border-top: none;
                line-height: 50px;

                > a, > span {
                    // @include single-box-shadow($sidr-background-shadow-color, 0, 0, 15px, 3px, inset);
                }
            }

            a, span {
                padding: 0 25px;
                display: block;
                text-decoration: none;
                color: $sidr-text-color;
            }

            ul {
                border-bottom: none;
                margin: 0;
                li {
                    line-height: 40px;
                    font-size: $sidr-font-size - 2;

                    &:last-child {
                        border-bottom: none;
                    }

                    &:hover,
                    &.active,
                    &.sidr-class-active {
                        border-top: none;
                        line-height: 41px;

                        > a, > span {
                            // @include single-box-shadow($sidr-background-shadow-color, 0, 0, 15px, 3px, inset);
                        }
                    }

                    a, span {
                        color: rgba($sidr-text-color, .8);
                        padding-left: 30px;
                    }
                }
            }
        }
    }

    form {
        margin: 0 15px;
    }

    label {
        font-size: $sidr-font-size - 2;
    }

    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    textarea, select {
        width: 100%;
        font-size: $sidr-font-size - 2;
        padding: 5px;
        margin: 0 0 10px;
        // @include border-radius(2px);
        border: none;
        background: rgba(#000, .1);
        color: rgba($sidr-text-color, .6);
        display: block;
        clear: both;
    }

    input[type=checkbox] {
        width: auto;
        display: inline;
        clear: none;
    }

    input[type=button],
    input[type=submit] {
        color: $sidr-background;
        background: $sidr-text-color;

        &:hover {
            background: rgba($sidr-text-color, .9);
        }
    }
}