article {
	&.page {
		text-align: left;
		&.hentry {
			text-align: left;
		}
	}
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
	text-align: center;
	margin-bottom: 100px;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.posted-on a {
	font-size: 18px;
	font-family: $font__main;
	font-style: italic;
	color: $color__secondary;
}

.tiled-gallery .gallery-row {
	margin-right: 0px;
	padding-right: 0px;
}